@model List<mvc_ProjectCRUD.Models.EmpModel>


@{
    ViewBag.Title = "Show";
}

    <h1 align="center">Employee Details</h1>
    <table class ="table table-responsive table-bordered  bg-primary">
        <tr>
            <th>EmpId</th>
             <th>EmpName </th>
             <th>EmpEmail </th>
             <th>EmpMobile </th>            
             <th>EmpAddress</th> 
             <th>DOB </th>
        </tr>  
        
        @foreach(var item in Model){
        <tr>
             <Td>@item.EmpId </Td>
             <Td>@item.EmpName </Td>
             <Td>@item.EmpEmail </Td>
             <Td>@item.EmpMobile </Td>
             <Td>@item.EmpAddress </Td>
             <Td>@item.DOB </Td>


            <td><a class ="btn btn-danger "href="@Url.Action("Delete","Employee",new {item.EmpId})">Delete</a></td>>
            <td><a class ="btn btn-success "href="@Url.Action("Update","Employee",new {item.EmpId})">Edit</a></td>>
        </tr>

        }
        </table>
